streamlit
numpy
langchain
langchain-openai
openai
psycopg2-binary
tenacity
pydantic<2.0.0
python-dotenv
typing-extensions
aiohttp
python-multipart
fastapi
uvicorn
starlette
sqlalchemy
flask-cors
tiktoken
flask
